@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.button-container {
    background-color: #2C594F;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center; 
    gap: 6px; 
    margin: 0;
}